<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"></div>
<!-- CSS for jquery data tables -->
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
</head>

<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid w-100 d-flex justify-content-center mt-5 px-5">
    <div class="table-responsive w-100">
        <table id="table" class="table table-striped text-center">
            <thead>
            <tr class="table-dark">
                <th scope="col" class="text-center">Order ID</th>
                <th scope="col" class="text-center">Order status</th>
                <th scope="col" class="text-center">Order total</th>
                <th scope="col" class="text-center">Firstname</th>
                <th scope="col" class="text-center">Lastname</th>
                <th scope="col" class="text-center">Address</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td>
                    <a th:text="${order.id}" th:href="@{/admin/view-order/{orderId}(orderId=${order.id})}"></a>
                </td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.total} + ' $'"></td>
                <td th:text="${order.user.firstname}"></td>
                <td th:text="${order.user.lastname}"></td>
                <td th:text="${order.user.address}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/admin/update-order-status/{orderId}(orderId=${order.id})}">
                        Update Status
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<!-- Imports for Jquery Data Tables -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    let table = new DataTable('#table', {
        responsive: true,
        autoWidth: false
    });
</script>
</body>
</html>