<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <style>
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;
         }/* Footer height */
    </style>
</head>
<body>
<footer id="footer" class="footer-copyright text-center bg-dark py-3"
        style="width:100%; bottom:0; color:white"
        th:fragment="footer">
    <div>
        <strong>
            Copyright &copy; 2023 <bold>EZ MAR A JAVA</bold>
            All rights reserved.
        </strong>
    </div>
</footer>
</body>
</html>