<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"></div>

<!-- CSS for jquery data tables -->
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <style>
        .custom-btn {
            width: 78px !important;
            margin: 0 5px;
        }
        button {
            outline: none;
            border: none;
        }
    </style>
</head>


<body style="height: 80vh;">
<!-- Toast message -->
<div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3" th:if="${errorMessage}">
    <div class="toast-container p-3 top-0 end-0" >
        <div class="toast" id="toast">
            <div class="toast-header">
                <strong class="me-auto text-danger fs-6">Error</strong>
            </div>
            <div class="toast-body text-danger fs-8" th:text="${errorMessage}"></div>
        </div>
    </div>
</div>


<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid w-100 d-flex justify-content-center mt-5 px-5 flex-column">
    <div class="table-responsive w-100">
        <table id="table" class="table table-striped text-center">
            <thead>
            <tr class="table-dark">
                <th scope="col" class="text-center">Title</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cart.getCartItems()}">
                <td th:text="${cartItem.product.title}"></td>
                <td th:text="${cartItem.quantity}"></td>
                <td th:text="${cartItem.product.price * cartItem.quantity} "></td>
                <td class="d-flex justify-content-center">

                    <form class="form-text d-flex align-items-center m-0" method="post" th:object="${cartItem}" th:action="@{/cart/decrease-cart-item/{cartItemId}(cartItemId = ${cartItem.getId()})}">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg>
                        </button>
                    </form>

                    <form class="form-text d-flex align-items-center m-0" method="post" th:object="${cartItem}" th:action="@{/cart/increase-cart-item/{cartItemId}(cartItemId = ${cartItem.getId()})}">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </button>
                    </form>

                    <form th:action="@{/cart/delete-cart-item/{cartItemId}(cartItemId = ${cartItem.getId()})}"  class="form-text d-flex align-items-center m-0" th:object="${cartItem}" method="post">
                        <button type=submit>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <a th:if="${cart.quantity > 0}" class="btn btn-primary" th:href="@{/checkout}">Checkout</a>
            <span><bold>Cart Total:</bold> <span th:text="${cartTotal}"></span> </span>
        </div>
    </div>

</div>



<!-- Imports for Jquery Data Tables -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:src="@{/js/toast.js}"></script>
<script>
    let table = new DataTable('#table', {
        responsive: true,
        autoWidth: false
    });
</script>
</body>
</html>