<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
  Home
</div>


<h2>Product List</h2>

<table>
  <thead>
  <tr>
    <th>name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products.content}">
    <td th:text="${product.title}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.category}"></td>

  </tr>
  </tbody>
</table>

<div th:if="${products.totalPages > 1}">
  <ul class="pagination">
    <li th:each="i : ${#numbers.sequence(0, products.totalPages - 1)}" th:class="${i == products.number ? 'active' : ''}">
      <a th:href="@{/products(page=${i},size=${products.size},sortBy=${products.sort.toString()})}" th:text="${i} + 1"></a>
    </li>
  </ul>
</div>

</body>
<div th:replace="fragments/footer :: footer"></div>
</html>